
.responses {
    max-width: 865px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}

.responsesTitle {
    display: flex;
    align-items: center;
}

.responsesTitle svg {
    width: 16px;
    height: 12px;
}

.responsesTitle p {
    color: #DDC00C;
    font-weight: 700;
    font-size: 24px; 
}

.wrapperComments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperComments * {
    transition: all 1s;
}

.wrapperComments .wrapperComments {
    height: 0;
    overflow-y: clip;
}

.wrapperComments .openAllComments {
    height: 100%;
}

.wrapperComments .openAllComments .responseItem {
    transition: all .3s;
    animation: fromZero .3s forwards;
}

@keyframes fromZero {
    from {
        margin-top: -999px;
    }
    to {
        margin-top: 0px;
    }
}

.responseItem {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.responseUser {
    display: flex;
    align-items: center;
    gap: 6px;
}

.responseItem .responseUser p {
    color: #005379;
}

.responseItem .responseUser span { 
    font-size: 14px;
    color: #005379;
    font-weight: 300;
}

.responseItem p {
    color: rgba(0, 83, 121, 0.60);
    line-height: 20px
}

.responseItem p a {
    cursor: pointer;
    color: #DDC00C;
}

.reaMoreResponse {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #DDC00C;
    font-weight: 500; 
    cursor: pointer;
    max-width: max-content;
}