.dropdown {
    position: relative;
    display: inline-block;
}

.wrapperDropdownInput {
    position: relative;
}

.dropdownInput {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    letter-spacing: .5px;
    align-items: center;
    gap: 4px;
    width: 183px;
    position: relative;
    padding: 7px 0 7px 15px;
    background: #FDFDFF;
    border-radius: 5px;
    max-width: 183px;
    height: 36px;
    line-height: inherit;
}

.activDropdownInput {
    border-radius: 5px 5px 0 0;
}

.dropdownInput::placeholder {
    color: #A1A1A2;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: .5px;
    font-family: sans-serif;
}

.dropdownInput:focus {
    outline: 2px solid transparent;
}
.wrapperIcon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-radius: 0px 5px 10px 0px;
    cursor: pointer;
}

.activeWrapperIcon {
    border-radius: 0px 5px 0px 0px;
}

.dropdownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #FFFFFF;
    padding: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 183px;
    z-index: 10;
    border-radius: 0 0 10px 10px;
}

.dropdownMenuItem {
    padding: 0.5rem;
    margin: 0;
    cursor: pointer;
    color: #005379;
}

.dropdownMenuItem:hover {
    background: #F2F2F2;
}

.dropdownMenuNoItem {
    cursor: default;
}

.dropdownMenuItem a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdownMenuItem a:hover {
    color: #0070f3;
}
  

@media screen and (max-width: 500px) {
    .dropdownInput {
        max-width: initial;
        width: 100%;
    }
    .dropdownMenu {
        width: 100%;
    }
}