.imageWrapper {
    position: relative;
    z-index: 99999;
    height: 100vh;
    width: 100%;
}

.imageWrapper .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 83, 121, 0.5);
    z-index: 999;
}

.bannerImaeg {
    position: absolute;
    z-index: 99;
    transition: all .4s;
    transform: scale(0);
}

.loadedBannerImaeg {
    transform: scale(1);
}