.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 80px;
    background: linear-gradient(0deg, rgba(0, 59, 86, 0.40) 0%, rgba(0, 59, 86, 0.40) 100%);
    padding: 0 20px;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
}

.notFoundWrapperLogo {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-area: 25px;
}

.image {
    max-width: 404px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    object-fit: contain;
}

.title {
    color: #DDC00C;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
}

.title span {
    color: #FFFFFF;
}

.text {
    color: #FDFDFF;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    max-width: 312px;
}

.link {
    border-radius: 5px;
    background: #DDC00C;
    padding: 12px 0;
    color: #FDFDFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    max-width: 500px;
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: center;
}