.postComment {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.postCommentTitle {
    color: #005379;
    font-weight: 700;
    font-size: 36px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperSubmit {
    position: relative;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    align-items: flex-end;
    justify-content: space-between;
}

.comment {
    min-height: 100px;
    width: 100%;
}

.input {
    width: 100%;
    min-height: 70px;
}

.comment:focus {
    outline: 2px solid transparent;
}

.wrapperCheckbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.checkNode {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wrapperCheckbox .error {
    bottom: -28px;
}

.checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
}
  
.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    background-color: transparent;
    border-radius: 999px;
    border: 2px solid #DDC00C;
    cursor: pointer;
}
  
.checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #DDC00C;
    background-color: transparent;
    border-width: 0px 2px 2px 0;
    transform: rotate(45deg);
}

.emailSaveText {
    color: #003B56;
    font-size: 12px;
    transform: translateY(2px); 
    cursor: pointer;
}

.defaultText {
    color: rgba(0, 59, 86, 0.6);
    font-weight: 500; 
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #d32f2f;
    font-size: 13px; 

    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

@media screen and (max-width: 768px) {
    .inputs {
        gap: 10px;
    }
}

@media screen and (max-width: 555px) {
    .inputs {
        flex-direction: column;
        gap: 20px;
    }

    .wrapperCheckbox {
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .wrapperCheckbox button {
        width: 100% !important;
        min-width: 100% !important;
    }
}