.form {
    width: 621px;
    min-width: 530px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    border: 3px solid rgba(221, 192, 12, 0.4);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    margin: 30px auto 0 auto;
    overflow-y: auto;
    position: relative;
}

.form::-webkit-scrollbar {
    width: 8px;
}
  
.form::-webkit-scrollbar-track {
    background-color: #FFFFFF;
    border-radius: 10px;
}
  
.form::-webkit-scrollbar-thumb {
    background-color: #DDC00C;
    border-radius: 10px;
}

.goBack {
    position: absolute;
    top: 15px;
    left: 25px;
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.goBack span {
    color: #005379;
    font-weight: 700;
    font-size: 18px;
}

.fromTitle {
    color: #005379;
    width: 260px;
    border-bottom: 1px dashed #005379;

    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
}

.fromTitle span {
    color: #DDC00C;
}

.nestedNode {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.nestedNodeMethods {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.node {
    display: flex;
    align-items: center;
    gap: 5px;
}

.vehicles {
    flex-direction: column;
    align-items: start;
}

.vehiclesMobile {
    display: none;
    flex-direction: column;
    gap: 5px;
    width: 98%;
}

.vehicleLine {
    overflow-y: clip;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.vehicleLineTopPanel {
    position: relative;
    z-index: 1;
    background: #F5F5F5;
    color: #005379;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 30px;
}

.vehicleLine .value {
    transform: translateY(-70px);
    height: 0;
    opacity: 0;
    transition: all .2s;
}

.activeVehicleLine .value {
    transform: translateY(0px);
    height: 35px;
    opacity: 1;
}

.type {
    color: #DDC00C;
    font-weight: 700;
    font-size: 20px;
}

.node .type {
    min-width: 50px;
}

.nestedNodeMethods .type {
    min-width: initial;
}

.value {
    color: #005379;
    font-weight: 700;
    font-size: 18px;
}

.vehicles .value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.vehicles .value p {
    color: #005379;
    font-weight: 700;
    font-size: 18px;
    width: 37%;
}

.vehicles .value p:last-child {
    width: 82px;
}

.vehicles .value p span {
    color: #DDC00C;
}

.btn {
    width: 260px;
    border-radius: 5px;
    background: #DDC00C;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    padding: 12px 0;

    cursor: pointer;
}

.btnAnimeBorder {
    outline: 2px solid transparent;
    animation: border-spin .5s linear infinite;
}

@keyframes border-spin {
  0% {
    transform: scale(1);
    outline-color: #005379;
  }
  50% {
    outline-color: #DDC00C;
    transform: scale(1.1);
  }
  100% {
    outline-color: #005379;
    transform: scale(1);
  }
}

.backAnime svg {
    outline: 2px solid transparent;
    border-radius: 50%;
    animation: border-spin .5s linear infinite;
}

@keyframes border-spin {
  0% {
    transform: scale(1);
    outline-color: #005379;
  }
  50% {
    outline-color: #DDC00C;
    transform: scale(1.1);
  }
  100% {
    outline-color: #005379;
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
    .form {
        padding: 10px;
        padding-top: 35px;
        background: #F5F5F5;
        min-width: initial;
        height: initial;
        min-height: 420px;
        width: 100%;
        max-width: 621px;
    }

    .goBack {
        top: 10px;
        left: 10px;
    }
    
    .goBack span {
        font-size: 16px;
    }

    .type {
        font-size: 16px;
    }

    .value {
        font-size: 20px;
    }

    .vehicles .value {
        display: none;
    }

    .vehiclesMobile {
        display: flex;
    }

    .vehiclesMobile .value {
        display: flex;
    }
}

@media screen and (max-width: 530px){
    .vehiclesMobile .value {
        flex-direction: column;
        align-items: start;
    }
    
    .activeVehicleLine .value {
        height: 80px;
    }

    .vehicles .value p,
    .vehicles .value p:last-child {
        width: initial;
    }
}